.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .about-content {
    flex: 1;
    max-width: 500px;
  }
  
  .about-content h2 {
    left: 2%;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .about-content p {
    left: 10%;
    font-size: 18px;
  }
  
  .about-image {
    margin-top: 10%;
    flex: 1;
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .about-image img {
    width: 60%;
    max-width: 400px;
    border-radius: 8px;
  }
  